<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${product}"
            method="post">
<table border="1" cellpadding="10">
   <thead style="color:red">
     <tr>
        <li>UserId</li>
        <th>UserName</th>
        <th>email Id</th>
        <th>Phone</th>
        <th>Product Perchased</th>
        <th>Perchase Date</th>
        <th>Category</th>
        <th>Create Date</th>
        <th>Last Update Date</th>
      </tr>
     </thead>
     <tbody style="color:green">
       <tr th:each="userdetails : ${listUsers}">
          <td th:text="${userdetails.userId}">UserId</td>
          <td th:text="${userdetails.username}">UserName</td>
          <td th:text="${userdetails.emailId}">email Id</td>
          <td th:text="${userdetails.phone}">Phone</td>
          <td th:text="${userdetails.productPerchased}">Product Perchased</td>
          <td th:text="${userdetails.perchaseDate}">Perchase Date</td>
          <td th:text="${userdetails.category}">Category</td>
          <td th:text="${userdetails.createDate}">Create Date</td>
          <td th:text="${userdetails.lastUpdateDate}">Last Update Date</td>
          <td ><button type="submit" >Confirm Purchase</button></td>
        </tr>
     </tbody>
     </table>
     </form>
</body>
</html>