<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a href="/adminupdatepassword">Change Password|</a>
<h1 style="color:slateblue">Admin Process details</h1>
<ul >
<li Style="color:lightblue"><a href="/listcat"> Categories</a><br></li>
<li Style="color:lightblue"><a href="/index"> list of users</a><br></li>
<li Style="color:lightblue"><a href="/listprod"> products List</a><br></li>
<br>
<br>
</ul>
<a href="/logout">LogOut</a>



</body>
</html>

	
